<section id="events" class="events">
    <div class="container">
        <div class="row">

            {{- range sort .Pages "Params.weight" -}}

            <div class="col-lg-6">
                <div class="event-item mt-4">
                    <img src="{{ .Permalink }}/images/1.jpg" class="event-img" alt="">
                    <h3>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </h3>
                    <p>
                        {{ with .Resources.GetMatch "description.md" }}
                        {{ .Content }}
                        {{ end }}
                    </p>
                    <div class="read-more">
                        <a href="{{ .Permalink }}">Подробнее</a>
                    </div>
                </div>
            </div>

            {{- end }}
        </div>
    </div>
</section>