<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>{{ .Site.Title }}</h3>
                        <p>
                            {{ .Site.Params.Address1 }}<br>
                            {{ .Site.Params.Address2 }}<br><br>
                            {{ .Site.Params.Phone }}<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="{{ .Site.Params.Vk }}" class="vk"><i class="bx bxl-vk"></i></a>
                            <a href="{{ .Site.Params.Instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="{{ .Site.Params.Telegram }}" class="telegram"><i class="bx bxl-telegram"></i></a>
                            <a href="mailto:{{ .Site.Params.Email }}" class="email"><i class='bx bx-envelope'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>