<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        {{ $currentPage := .Page }}
        {{ $parentPage := .Page.Parent }}
        <nav id="navbar" class="navbar">
            <ul>
                {{- range site.Menus.main }}
                <li>
                    {{- $menuEntryPage := .Page }}
                    {{- $isMenuForPage := eq $menuEntryPage $currentPage }}
                    {{- $isMenuForParentPage := eq $menuEntryPage $parentPage }}
                    {{- $isMenuActive := or $isMenuForPage $isMenuForParentPage }}
                    <a{{ if $isMenuActive }} class="active"{{ end }} href="{{ .URL }}" aria-current="page">{{ .Name }}</a>
                </li>
                {{- end }}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>