<header id="header" class="fixed-top d-flex align-items-center">

    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="index.html">{{ .Site.Title }}</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                {{ partial "navbar-item" (dict "text" "О нас" "href" "/site/about" "class" "active") }}
                <li class="dropdown"><a href="#"><span>Обучение</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/site/workshops">Мастер-классы</a></li>
                        <li><a href="/site/courses">Курсы</a></li>
                    </ul>
                </li>
                {{ partial "navbar-item" (dict "text" "Мероприятия" "href" "/site/events") }}
                {{ partial "navbar-item" (dict "text" "Галерея" "href" "/site/gallery") }}
                {{ partial "navbar-item" (dict "text" "Контакты" "href" "/site/contacts") }}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>

</header>

{{ define "partials/navbar-item.html" }}
<li><a class="{{ .class }}" href="{{ .href }}" aria-current="page">{{ .text }}</a></li>
{{ end }}