{{ define "main" }}
    {{ .Content }}
    <br />

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{ range .Pages }}
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <h5>{{ .Title }}</h5>
                            <p class="card-text">Возраст: {{ .Params.age }}</p>
                            <p class="card-text">Продолжительность: {{ .Params.duration }}</p>
                            <a class="btn btn-primary btn-sm" href="{{ .Permalink }}">Подробнее</a>
                        </div>
                    </div>
                </div>                
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}