/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

  .contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
  }

  .contact .info-box i {
    font-size: 32px;
    color: #556270;
    border-radius: 50%;
    padding: 8px;
    transition: all 0.3s ease-in-out;     
  }

  .contact .info-box:hover i {
    background: #556270;
    color: #fff;
  }  

  .contact .info-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    margin-bottom: 5px;
    color: #556270;
  }  
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  