/*--------------------------------------------------------------
# Event
--------------------------------------------------------------*/

.event {
    padding: 40px 0 20px 0;
  }
  
  .event .entry {
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .event .entry .entry-img {
    max-height: 440px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
  }
  
  .event .entry .event-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .event .entry .event-title a {
    color: #556270;
    transition: 0.3s;
  }
  
  .event .entry .event-title a:hover {
    color: #d9232d;
  }
  
  .event .entry .event-meta {
    margin-bottom: 15px;
    color: #c1c8d0;
  }
  
  .event .entry .event-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .event .entry .event-meta ul li+li {
    padding-left: 20px;
  }
  
  .event .entry .event-meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
  }
  
  .event .entry .event-meta a {
    color: #777777;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }
  
  .event .entry .event-content p {
    line-height: 24px;
  }
  
  .event .entry .event-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
  }
  
  .event .entry .event-content .read-more a {
    display: inline-block;
    background: #d9232d;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .event .entry .event-content .read-more a:hover {
    background: #df3740;
  }
  
  .event .entry .event-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .event .entry .event-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
  }
  
  .event .entry .event-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
  }
  
  .event .entry .event-content blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #556270;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .event .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
  }
  
  .event .entry .entry-footer i {
    color: #a4afba;
    display: inline;
  }
  
  .event .entry .entry-footer a {
    color: #606f7e;
    transition: 0.3s;
  }
  
  .event .entry .entry-footer a:hover {
    color: #d9232d;
  }
  
  .event .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
  }
  
  .event .entry .entry-footer .cats li {
    display: inline-block;
  }
  
  .event .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
  }
  
  .event .entry .entry-footer .tags li {
    display: inline-block;
  }
  
  .event .entry .entry-footer .tags li+li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
  }
  
  .event .entry .entry-footer .share {
    font-size: 16px;
  }
  
  .event .entry .entry-footer .share i {
    padding-left: 5px;
  }
